@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
    --primary-color:#7C3AED;

}

body {
   font-family: 'Montserrat', sans-serif;
}

.container {
    text-align: center;
    max-width:700px;
    margin:auto;
    padding:1rem 0rem;
}

.navigation {
    margin:0rem 1rem;
    padding:1rem;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.navigation .link-active {
    font-weight:bold;
}

.navigation a {
    text-decoration: none;
    color:black;
}

.navigation-header{
    font-weight: bolder;
    font-size:18px;
}

.navigation .nav-pills {
    text-align:right;
}

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display:inline;
    padding:0rem 0.5rem;
}

.books-list {
    display:flex;
    margin:auto;
    max-width: 90%;
    padding: 0.5rem;
    justify-content:space-between;
    flex-wrap:wrap;
}

@media only screen and (max-width: 460px){
    .books-list {
        justify-content: center;
    }
}

.book-info {
    padding:0rem 0.5rem;
    text-align:center;
}

.book-rating {
    text-align:center !important;
    display:flex;
    justify-content:space-around;
}

.book-info img {
    width:150px;
    height:226.19px;
}

/* login page css */

.login-main {
    display:flex;
    align-items:center;
    justify-content: space-around;
    margin:0.5rem;
    height:100vh; 
}
.login-image img {
    width: 500px;
}

.login-content {
    text-align:center;
    margin:0.5rem;
    padding:0.5rem;
}

.small {
    display:block;
    margin: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.login-content input{
    border-radius:1rem;
    border:1px solid black;
    padding:0.7rem 5rem;
    margin:0.5rem;
}

.login-heading {
    margin-bottom:1rem;
    font-weight: bolder;
    font-size:20px;
}

.login-content p {
    font-size:14px;
    margin:0px;
}

.button-primary {
    border:1px solid var(--primary-color);
    background-color: var(--primary-color);
    color:white;
    text-decoration: none;
    padding: 0.5rem 2rem;
    border-radius:1rem;
    margin:auto;
    display: block;
    width:30%;
    margin-top: 1rem;
    opacity: 0.75;
}
.button-primary:hover {
    opacity:1;
}